.navbar .navbar-form .form-group .form-control, .navbar .navbar-form .form-control {
    border-color: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
    height: 28px;
    font-size: 24px;
    line-height: 1.42857143;
}

.footer {
    padding:25px;
    width: 100%;
    min-height:200px;
    background-color: #fff;
    color: #3f51b5;
    font-size: 12px;
    position: relative;
    bottom: 0px;
}

.navbar {
    position: overflow;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

.navbar.navbar-inverse {
    background-color: #fff;
    color: #3f51b5;
    opacity: 0.9;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 30px;
    line-height: 20px;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #3f51b5;
    background-color: #f7f8fc;
}

.move {
    margin-top: 100px;
}

.move2 {
    margin-top: 60px;
}

.move3 {
    margin-top: 220px;
}

.move4 {
    margin-top: 120px;
}

.frame {
    outline: 10px solid white;
}

.panel .panel-body > p {
    color: black
}

.profile {
    text-align: center;
    display: block;
    padding-top: 20px;
}

hr {
    margin-top: -9px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.avatar1 {
    border-radius: 50px;
    height: 30px;
    width: 30px;
}

.avatar2 {
    border-radius: 10px;
    height: 200px;
    width: 200px;
    position: overflow;
}

.profile h3 {
    color: #fff;
}

.btn:not(.btn-raised).btn-primary, .input-group-btn .btn:not(.btn-raised).btn-primary {
    color: #3f51b5;
}

.dec {
    text-transform: capitalize;
}

#CourseModal {
top:5%;
left:50%;
modal-color: yellow;
}

#DeleteModal {
top:38%;
left:50%;
modal-color: yellow;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    color: #fff;
    background-color: #3f51b5;
}

.previews {
    text-align: center;
}

.previews .thumbnail img {
    border: 1px solid #3f51b5;
}

.thumbnail > a > p > img {
    opacity: 1;
    -webkit-transition: opacity;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 500ms;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
      height: 580px;

}

.cover {
  object-fit: cover;
  width: 50px;
  height: 100px;
}

.carousel-inner>.item>img {
    line-height: 1;
}


.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #c6e2ff;
}
.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.img {
    opacity: 1.0;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.img:hover {
    opacity: 0.4;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.services {
    padding: 50px 0;
}

.body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.bg-primary {
    color: #fff;
    background-color: #c6e2ff;
}

.text-primary {
    color: #3f51b5;
}

.services p {
    margin: 0 0 10px;
    color: #3f51b5;
}

.services h2 {
    color: #3f51b5;
}
.back {
    background-image: url('http://res.cloudinary.com/dqmv6brld/image/upload/v1450193683/images7_lq3jtr.jpg');
}

.social {
    margin: 0;
    padding: 0;
}

.social ul {
    margin: 0;
    padding: 5px;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social i:hover {
    color: #fff;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social .fa-facebook:hover { /* round facebook icon*/
    background: #4060A5;
}

.social .fa-twitter:hover { /* round twitter icon*/
    background: #00ABE3;
}

.social .fa-github:hover { /* round github icon*/
    background: #343434;
}

body {
font-family: 'Roboto', serif;
font-size: 18px;
}

.btn.btn-raised.btn-primary, .input-group-btn .btn.btn-raised.btn-primary, .btn.btn-fab.btn-primary, .input-group-btn .btn.btn-fab.btn-primary {
    background-color: #3f51b5;
    color: rgba(255,255,255, 0.84);
}

.form-control, .form-group.is-focused .form-control {
    border: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3f51b5), to(#3f51b5)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#3f51b5, #3f51b5), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#3f51b5, #3f51b5), -o-linear-gradient(#3f51b5, #3f51b5);
    background-image: linear-gradient(#3f51b5, #3f51b5), linear-gradient(#3f51b5, #3f51b5);
    -webkit-background-size: 0 2px, 100% 1px;
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center -webkit-calc(100% - 1px);
    background-position: center bottom, center calc(100% - 1px);
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background 0s ease-out;
    -o-transition: background 0s ease-out;
    transition: background 0s ease-out;
    float: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

.form-group.is-focused label.control-label {
    font-size: 12px;
    line-height: 1.07142857;
    color: #3f51b5;
    font-weight: 400;
    margin: 16px 0 0 0;
}

.navbar .btn, .input-group-btn .btn {
    border: none;
    border-radius: 2px;
    position: relative;
    padding: 8px 30px;
    margin: 10px 1px;
    font-size: 14px;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 0;
    will-change: box-shadow, transform;
    -webkit-transition: -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    background: transparent;
}

a, a:hover, a:focus {
    color: #3f51b5;
}

.checkbox input[type=checkbox]:checked + .checkbox-material .check {
    color: #3f51b5;
    border-color: #3f51b5;
}

.checkbox input[type=checkbox]:checked + .checkbox-material .check:before {
    color: #3f51b5;
    -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    -webkit-animation: checkbox-on 0.3s forwards;
    -o-animation: checkbox-on 0.3s forwards;
    animation: checkbox-on 0.3s forwards;
}

.soc .btn:not(.btn-raised), .input-group-btn .btn:not(.btn-raised), .btn:not(.btn-raised).btn-default, .input-group-btn .btn:not(.btn-raised).btn-default {
    color: #fff;
    font-weight: 400px;
}

.soc .btn-block .btn-social .btn-lg a:hover {
    background-color: #000;
}

.btn:not(.btn-raised), .input-group-btn .btn:not(.btn-raised), .btn:not(.btn-raised).btn-default, .input-group-btn .btn:not(.btn-raised).btn-default {
    color: #000;
}

.some h3 {
    color: #3f51b5;
}

section strong {
    color: #000;
}

legend {
    color: #3f51b5;
}

input::-webkit-input-placeholder {
color: #ccedfc !important;
}

input:-moz-placeholder { /* Firefox 18- */
color: #ccedfc !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
color: #ccedfc !important;
}

input:-ms-input-placeholder {
color: #ccedfc !important;
}

.btn-twitter:hover {
    background-color: #3f51b5 !important;
}

.btn-facebook:hover {
    background-color: #3f51b5 !important;
}

.btn-github:hover {
    background-color: #3f51b5 !important;
}

@media (max-width: 1250px) {
  .modal-dialog {
    width: 400px;
    }
}


